<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{plantilla/templateBibliotecario :: head}"></head>

<body>

<header th:replace="~{plantilla/templateBibliotecario :: header}"></header>

	<div
		th:style="'display: flex; flex-direction: column; align-items: center; justify-content: center; height: 70vh; margin: 0; font-family: \'Arial\', sans-serif; text-align: center;'">
		<h1>Reserva realizada</h1>
        <a th:href="@{/reservado}"><button>Volver al menu</button></a>
        
    </div>
</body>

</html>