<!DOCTYPE html>
<html xmlns:th:="http://www.thymeleaf.org">

<head th:replace="~{plantilla/templateAdmin :: head}"> </head>

<body>

	<header th:replace="~{plantilla/templateAdmin :: header}">
	</header>

	<form th:action="@{/autor_saved}" th:object="${autor}" method="POST">
		<div class="m-3 form-group row">
			<input type="hidden" th:field="*{id}">
			<label for="nombre" class="col-md-3">Nombre del autor</label>
			<input type="text" name="nombre" th:field="*{nombre}" class="form-control form-control-sm col-md-6"
				id="nombre" placeholder="nombre del titulo" />
			<small class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
		</div>

		<div class="m-3 form-group row">
			<label for="apellido" class="col-md-3">Apellidos del autor</label>
			<input type="text" name="apellido" th:field="*{apellido}" class="form-control form-control-sm col-md-6" id="apellido"
				placeholder="introduzca el/los apellidos del autor" />
			<small class="text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
		</div>
		<input type="submit" class="btn btn-primary m-3" value="Guardar" />

	</form>

	<footer th:replace="~{plantilla/templateAdmin :: footer}">
	</footer>

</body>

</html>