<!DOCTYPE html>
<html xmlns:th:="http://www.thymeleaf.org">

<head th:replace="~{plantilla/templateAdmin :: head}">
</head>

<body>

	<header th:replace="~{plantilla/templateAdmin :: header}">
	</header>

	<div class="container">
		<h1 th:text="${nombre}"></h1>
		<a class="btn btn-primary" th:href="@{/altaAutor}" role="button">Gestionar Autores</a>
	</div>


	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">id</th>
					<th scope="col">Nombre</th>
					<th scope="col">Apellido</th>
					<th scope="col">Editar Autor</th>
					<th scope="col">Eliminar Autor</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				<tr th:each="a:${autores}">
					<td th scope="row" th:text="${a.id}"></td>
					<td th:text="${a.nombre}"></td>
					<td th:text="${a.apellido}"></td>
					<td>
						<a class="btn btn-primary" th:href="@{/autor/edit} + ${ti.id}" role="button">+ info</a>
					</td>
					
					<td>
						<a class="btn btn-primary" th:href="@{/autor/delete} + ${ti.id}" role="button">+ info</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer th:replace="~{plantilla/templateAdmin :: footer}">
	</footer>

</body>

</html>