<!DOCTYPE html>
<html xmlns:th:="http://www.thymeleaf.org">

<head th:replace="~{plantilla/templateUser :: head}"></head>

<body>

	<header th:replace="~{plantilla/templateUser :: header}"></header>
	<h1 th:text="Bienvenido + ' ' + ${usuario.nombre} + ' ' + ${usuario.apellidos == null ? '' : usuario.apellidos}"></h1>
	<div
		th:style="'display: flex; flex-direction: column; align-items: center; justify-content: center; height: 70vh; margin: 0; font-family: \'Arial\', sans-serif; text-align: center;'">
		<a class="btn btn-primary" th:href="@{/prestarTitulo}" role="button" style="margin-bottom: 10px;">Pedir prestamo</a>
		<a class="btn btn-primary" th:href="@{/reservaUsuario}" role="button" style="margin-bottom: 10px;">Mostrar Reservas</a>
		<a class="btn btn-primary" th:href="@{/devolucion}" role="button" style="margin-bottom: 10px;">Devolver ejemplar</a>

	</div>
</body>

</html>/