<!DOCTYPE html>
<html xmlns:th:="http://www.thymeleaf.org">

<head th:replace="~{plantilla/templateAdmin :: head}">
	<style>
		.container {
			max-width: 1000px;
		}
	</style>
</head>

<body>

	<header th:replace="~{plantilla/templateAdmin :: header}">
	</header>
	<div class="container mt-5">
		<form th:action="@{/saved}" th:object="${titulo}" method="POST">
			<div class="row mb-3">
				<div class="col-md-3">
					<label for="nombre">Nombre del titulo</label>
				</div>
				<div class="col-md-6">
					<input type="hidden" th:field="*{id}">
					<input type="text" name="nombre" th:field="*{nombre}" class="form-control form-control-sm"
						id="nombre" placeholder="nombre del titulo" />
					<small class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-md-3">
					<label for="isbn">ISBN</label>
				</div>
				<div class="col-md-6">
					<input type="text" name="isbn" th:field="*{isbn}" class="form-control form-control-sm" id="isbn"
						placeholder="introduzca el isbn" />
					<small class="text-danger" th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></small>
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-md-3">
					<label for="autores">Autor(es)</label>
				</div>
				<div class="col-md-4">
					<select id="autores" name="autores" class="form-control form-control-sm">
						<option value="">Selecciona un autor</option>
						<!-- Itera sobre la lista de autores y crea opciones para cada uno -->
						<th:block th:each="autor : ${listaAutores}">
							<option th:value="${autor}" th:text="${autor.nombre + ' ' + autor.apellido}"></option>
						</th:block>
					</select>
				</div>
				<div class="col-md-3">
					<!-- Agrega un botón que redirija a otro formulario -->
					<a th:href="@{/otroFormulario}" class="btn btn-primary">Gestionar autores</a>
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-md-3">
					<label for="numeroEjemplares">Número de Ejemplares:</label>
				</div>
				<div class="col-md-6">
					<input type="number" class="form-control" id="numEjemplaresStr" name="numEjemplaresStr"
						placeholder="Ingresa el número de ejemplares"
						th:value="${titulo.ejemplares == null ? 1 : titulo.ejemplares.size()} " min="1" />
				</div>
			</div>
			<input type="submit" class="btn btn-primary" value="Guardar" />

		</form>
	</div>
	<footer th:replace="~{plantilla/templateAdmin :: footer}">
	</footer>

</body>

</html>