<!DOCTYPE html>
<html xmlns:th:="http://www.thymeleaf.org">

<head th:replace="~{plantilla/templateAdmin :: head}">
</head>

<body>

	<header th:replace="~{plantilla/templateAdmin :: header}">
	</header>

	<div class="container">
		<h1 th:text="${nombre}"></h1>
		<a class="btn btn-primary" th:href="@{/altaTitulo}" role="button">Dar de alta titulo</a>
	</div>
	
	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">id</th>
					<th scope="col">Titulo</th>
					<th scope="col">ISBN</th>
					<th scope="col">Autor</th>
					<th scope="col">Detalles del titulo</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				<tr th:each="ti:${titulos}">
					<td th scope="row" th:text="${ti.id}"></td>
					<td th:text="${ti.nombre}"></td>
					<td th:text="${ti.isbn}"></td>
					
					<td>
						<span th:text="${ti.autores.toString().substring(1, ti.autores.toString().length() - 1)}">
					</span>
					</td>
					<td>
						<a class="btn btn-primary" th:href="@{/detalle/} + ${ti.id}" role="button">+ info</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer th:replace="~{plantilla/templateAdmin :: footer}">
	</footer>

</body>

</html>